.input {
  color: black;
}

.input--error {
  color: red;
}



.input__field {
  display: flex;
  padding: 20px 16px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  width: 353px;
  margin-top: 8px;
  color: black;
  border-radius: 12px;
  border: 1px solid var(--Grey-Border, #E9E8EB);
}

.input__field:focus {
  border: 1px solid var(--Purple-main, #775CE5);
}

.input__field--error {
  color: red;
  border: 1px solid var(--Red, red);
}


