.input {
  color: black;
}

.input--error {
  color: red;
}

.field__wrapper {
  position: relative;
}



.input__field {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  width: 353px;

  font-family: Inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  align-self: stretch;
  margin-top: 8px;
  border-radius: 12px;
  color: black;
  background: white;
  border: 1px solid var(--Grey-Border, #E9E8EB);
}

.input__field:focus {
  border: 1px solid var(--Purple-main, #775CE5);
}

.input__field--error {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 16px;
  font-family: Inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  align-self: stretch;
  width: 353px;
  margin-top: 8px;
  border-radius: 12px;
  color: red;
  border: 1px solid var(--Red, red);
}


.field__icon {
  display: block;
  height: 18px;
  width: 24px;

  position: absolute;
  right: 20px;
  top:calc(50% + 2px);

  cursor: pointer;
}

.field__icon--hide {
  display: block;
  height: 17px;
  width: 24px;
  position: absolute;
  right: 25px;
  top:calc(50% - 8px);
  cursor: pointer;

  background-image: url('../../../public/svg/password-show.svg');
  background-size: cover;
}



.field__icon--show {
  display: block;
  height: 19px;
  width: 23px;
  position: absolute;
  right: 25px;
  top:calc(50% - 8px);
  cursor: pointer;

  background-image: url('../../../public/svg/password-hide.svg');
  background-size: cover;
}

.field__icon--hide--error {
  display: block;
  height: 17px;
  width: 24px;
  position: absolute;
  right: 25px;
  top:calc(50% - 8px);
  cursor: pointer;

  background-image: url('../../../public/svg/password-show-red.svg');
  background-size: cover;
}

.field__icon--show--error {
  display: block;
  height: 19px;
  width: 23px;
  position: absolute;
  right: 25px;
  top:calc(50% - 8px);
  cursor: pointer;

  background-image: url('../../../public/svg/password-hide-red.svg');
  background-size: cover;
}


