.payment-link {
  text-decoration: none;
  width: 353px;
  transition: opacity 0.7;
  cursor: pointer;
}

.payment-system {
  display: flex;
  width: 353px;
  justify-content: space-between;
  align-items: center;

  gap: 12px;
  background-color: white;
  border-radius: 12px;
  padding: 16px;
} 

.payment__info {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.transaction__img {
  width: 18px;
height: 18px;
flex-shrink: 0;
display: flex;
width: 48px;
height: 48px;
padding: 15px;
justify-content: center;
align-items: center;
border-radius: 100px;
background: var(--BG-2, #F7F7F7);
}





.transaction__agent {
  color: var(--Black, #1D1D1F);
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}





.pay-methods {
  display: flex;
  gap: 8px;
  
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%
}
