.input {
  color: black;
}

.input--error {
  color: red;
}



.input__field {
  display: flex;
  padding: 18px 16px;
  align-items: flex-start;
  gap: 16px;
  font-family: Inherit;
  font-size: 14px;
  align-self: stretch;
  width: 353px;
  margin-top: 8px;
  padding-left: 20px;
  
  color: black;
  border-radius: 12px;
  border: 1px solid var(--Grey-Border, #E9E8EB);
}

.input__field:focus {
  border: 1px solid var(--Purple-main, #775CE5);
}

.input__field--error {
  color: red;
  border: 1px solid var(--Red, red);
  padding-left: 20px;
}

.input-group {
  position: relative;
  display: inline-block;
}

.input-symbol {
  position: absolute;
  top: 54%;
  left: 10px; /* Adjust the positioning as needed */
  margin-right: 10px;
  transform: translateY(-50%);
  z-index: 1;
  color: #000; /* Symbol color */
  font-weight: 400; /* Adjust font styling as needed */
}

.input-symbol--error {
  position: absolute;
  top: 55%;
  left: 10px; /* Adjust the positioning as needed */
  margin-right: 10px;
  transform: translateY(-50%);
  z-index: 1;
  color: red; /* Symbol color */
  font-weight: 400; /* Adjust font styling as needed */
}


.error {
  color: red;
}

